
html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
.content{
  display: block;
  height: 60rem;
}
div{
display: block;
}
/* Header */
header  {
    position: fixed;
    z-index: 20;
    top: 0;
    height: 4rem;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: white;
}
.head li{
  display: inline-block;
}

header h2 {
  font-size: 2.0rem;
  color: grey;
  font-weight: bold;
}
header b {
  font-size: 2.0rem;
  color: black;
}
header li {
  display: flex;
  line-height:1.0rem;
}
header nav a {
text-decoration: none;
color: darkgrey;
font-weight: 300;

}
header .mobile {
  display: none;
}

/* Start */

.start {
  display: block;
  padding:2.0rem 1.5rem;
  background-color: grey;
}
.start img {
  width: 60%;
  height:auto;
  align-items: flex-start;
  margin-right: 1.5rem;
}

.start2 {
  display:block;
  margin-left:1.5rem;
  align-items: right;
  justify-content: center;
  width: 40%;
  height: 40%;
}
.start h1{
  font-size:3rem;
  font-weight: bold;
}
.button{
background-color: darkgrey;
padding-top: 0.5rem;
padding-bottom: 0.5rem;
color: white;
width: 20%;
height: 2rem;
text-align: center;
font-size: 1rem;
}

/* Practice */
.practicecontainer {
    width: 100%;
    position: relative;
    top: 4rem;
    z-index: 10;
    background-color: rgb(213,248,255);
    display: flex;
}
.practicecontent {
    padding: 32px 0px 32px 24px;
    display: flex;
    background-color: lightblue;
}
.leftbox {
    margin-right: 24px;
    display: block;
}
.leftbox h1 {
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 24px;
}
.rightbox {
    width: 40%;
    display: flex;
    flex-direction: column;
}
.emanuel {
    margin-bottom: 2rem;
    display: block;
}
.emanuel img {
    max-width: 100%;
    height: auto;
}
.leftbox p {
    font-weight: 100;
    margin-bottom: 32px;
}
.leftbox span {
    font-weight: 300;
    font-size: 0.75rem;
}
.infobox {
    width: 423px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
}
#oliver {
    background-color: rgb(255,233,155);
}
.desktoppic {
    width: 35%;
}
.desktoppic img {
    max-width: 100%;
    height: auto;
    margin: 1rem;
    border: 1px solid rgb(220,220,220);
}
.mobilepic {
    display: none;
}
.textbox {
    color: rgb(16,16,16);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 2.5rem 1.5rem 3rem 2rem;
}
.textbox a {
    color: blue;
    font-weight: 400;
    font-size: 0.9rem;
    text-decoration: none;
}
.textbox h2 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    letter-spacing: .4px;
}
.textbox span {
    font-weight: 300;
    font-size: 0.8rem;
    margin-bottom: 1.2rem;
}
.textbox a {
    color: blue;
    font-weight: 400;
    font-size: 0.9rem;
    text-decoration: none;
}
#special {
    display: none;
}
.infobox {
    width: 423px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
}
/* Learn */
.learningcontainer {
    position: relative;
    z-index: 10;
    top: 4rem;
    background-color: rgb(123,211,229);
    padding-bottom: 1.5rem;
}
.learningcontainer h1 {
    color: rgb(16,16,16);
    font-size: 2rem;
    font-weight: 500;
    padding: 2rem 0 1.5rem 0;
    width: 100%;
    text-align: center;
    margin: 0;
}
.learningbox {
    color: rgb(64,64,64);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 1.5rem;
    line-height: 1.15;
}
.subjects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.subjectbox {
    height: 276px;
    width: 280px;
    display: flex;
    flex-direction: column;
    margin: 0.5rem 1rem;
    background-color: white;
}
.subjectpic {
    margin: 0;
    padding: 0;
}
.subjectpic img {
    max-width: 100%;
    height: auto;
}
img {
    border-style: none;
}
.subjecttext {
    margin: 0;
    padding: 0;
}
.subjecttext h2 {
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0.9rem 0rem 0.5rem 1rem;
    padding: 0;
}
.subjecttext span, p {
    font-weight: 300;
    margin-left: 1rem;
}

.subjecttext span {
    display: inline-block;
    margin: 0 0 0.5rem 1rem;
    color: rgb(52,89,97);
    font-size: 0.85rem;
}


.learn{
display: block;
margin:1rem;
background-color: grey;
width: 100%;
flex-wrap: wrap;
}
.learn h1{
  font-size:2rem;
  font-weight: bold;
  margin-top:2rem;
  margin-bottom: 2rem;
  text-align: center;
}
.learn .block{
  display: block;
background-color: white;
margin: 1rem;
width: 20rem;
}
.learn .block img{
height: auto;
width: 18rem;
}
.learn .block h5{
font-size: 2rem;
margin-top: 1rem;
}
.learnbox{
padding: 2rem 4rem;
}

/* Thesis */

.thesis{
display: block;
padding: 1.5rem 2.0rem;
}
.thesis h1{
  font-size:2rem;
  font-weight: bold;
  margin-top:2rem;
  margin-bottom: 2rem;
  text-align: center;
}
.thesis video{
width: 60%;
}
.thesis .block{
width: 40%;

}
.thesis .block img{
margin: 1rem;
width: 14%;
height: auto;
}
/* Footer */

footer {
  position: relative;
  z-index: 5;
  top: 4rem;
  background-color: white;
  height: 3rem;
  max-width: 100%;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  font-weight: 300;
  font-size: 0.9rem;
}
footer nav a {
text-decoration: none;
}
